################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstCode/obj
/FirstCode/bin/Debug/net8.0
